@page "/ApprovalRequests"
@using OutOfOfficeWebApp.Models
@model OutOfOfficeWebApp.Lists.ApprovalRequests.IndexModel
@{
    ViewData["Title"] = "ApprovalRequests";
}

@section scripts {
    <script src="~/js/sort.js"></script>
}
<h3>Approval Requests Page</h3>

<form asp-page="/Approval Requests/index" asp-page-handler="Filter" method="get">
    <div class="input-group w-25">
        <input type="hidden" name="handler" value="Filter" />
        <input type="search" class="form-control rounded" name="id" value="@Model.SearchValue" placeholder="Search by Id" aria-label="Search" aria-describedby="search-addon" />
        <button type="submit" class="btn btn-outline-primary" data-mdb-ripple-init>search</button>
    </div>
    <div class="input-group py-3">
        <div class="d-flex justify-content-between gap-3">
            <modelselect model="" field="StatusFilter" values="Model.StatusSelectors"></modelselect>
            <modelselect model="" field="ApproverFilter" values="Model.ApproverSelectors"></modelselect>
            <div class="py-4">
                <button type="submit" id="FilterBtn" name="FilterBtn" class="btn btn-outline-primary" data-mdb-ripple-init>Filter</button>
            </div>
        </div>
    </div>
</form>
@if (Model.ApprovalRequests == null || Model.ApprovalRequests.Count() == 0)
{
    <h3>Nothing Here</h3>
}
else
{
    <div class="container mt-5">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr class="bg-black text-white">
                    <th>ID ⇑</th>
                    <th>Approver</th>
                    <th>LeaveRequestId</th>
                    <th>Status</th>
                    <th class="borderless bg-white"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (ApprovalRequest e in Model.ApprovalRequests)
                {
                    <tr>
                        <td><a asp-page="/Approval Requests/Details" asp-route-id="@e.ID">@e.ID</a></td>
                        <td><a asp-page="/Approval Requests/Details" asp-route-id="@e.ID">@e.Approver.FullName</a></td>
                        <td><a asp-page="/Approval Requests/Details" asp-route-id="@e.ID">@e.LeaveRequestId</a></td>
                        <td><a asp-page="/Approval Requests/Details" asp-route-id="@e.ID">@e.Status</a></td>
                        <td class="borderless action">
                            <a class="btn btn-primary btn-sm" asp-page="/Leave Requests/Details" asp-route-id="@e.LeaveRequestId">Leave Request►</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}