@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.Employee != null)
{
    <div class="container mt-5 w-25">
        <div class="row justify-content-center">
            <div class="col form-container">
                <h2 class="mb-4 text-center">Welcome</h2>
                <div class="mb-3">
                    <label for="fullName" class="form-label">Full Name</label>
                    <input type="text" class="form-control" id="fullName" value="@Model.Employee.FullName" readonly>
                </div>
                <div class="mb-3">
                    <label for="id" class="form-label">ID</label>
                    <input type="text" class="form-control" id="id" value="@Model.Employee.ID" readonly>
                </div>
                <div class="mb-3">
                    <label for="id" class="form-label">Position</label>
                    <input type="text" class="form-control" id="id" value="@Model.Employee.Position" readonly>
                </div>
                <div class="mb-3">
                    <label for="id" class="form-label">People Partner</label>
                    <input type="text" class="form-control" id="id" value="@Model.Employee.PeoplePartner.FullName" readonly>
                </div>
                <div class="mb-3">
                    <label for="id" class="form-label">Subdivision</label>
                    <input type="text" class="form-control" id="id" value="@Model.Employee.Subdivision" readonly>
                </div>
                <div class="mb-3">
                    <label for="id" class="form-label">Out Of Office Balance</label>
                    <input type="text" class="form-control" id="id" value="@Model.Employee.OutOfOfficeBalance" readonly>
                </div>
                <div class="mb-3">
                    <label for="id" class="form-label">Status</label>
                    <input type="text" class="form-control" id="id" value="@Model.Employee.Status" readonly>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h1 class="display-4 text-center">Welcome</h1>
    <div class="d-flex align-items-center justify-content-center">
        <form method="post" class="w-25">
            <h1 class="h3 mb-3  fw-normal">Please enter employee ID</h1>

            <div class="form-floating">
                <input asp-for=@Model.EmployeeId type="text" autocomplete="off" class="form-control" placeholder="000" autofocus>
                <label asp-for=@Model.EmployeeId>ID</label>
                <span asp-validation-for="@Model.EmployeeId" class="text-danger"></span>
            </div>

            <button class="my-3 btn btn-primary w-100 py-2" type="submit">Sign in</button>
        </form>   
    </div>
}
