@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.Employee != null)
{
    <div class="container mt-5 w-25">
        <div class="row justify-content-center">
            <div class="col form-container">
                <h2 class="mb-4 text-center">Welcome</h2>
                <modelfield field="@nameof(@Model.Employee.FullName)" value="@Model.Employee.FullName" editable="false"></modelfield>
                <modelfield field="@nameof(@Model.Employee.ID)" value="@Model.Employee.ID" editable="false"></modelfield>
                <modelfield field="@nameof(@Model.Employee.Position)" value="@Model.Employee.Position" editable="false"></modelfield>
                <modelfield field="@nameof(@Model.Employee.PeoplePartner)" value="@Model.Employee.PeoplePartner.FullName" editable="false"></modelfield>
                <modelfield field="@nameof(@Model.Employee.Subdivision)" value="@Model.Employee.Subdivision" editable="false"></modelfield>
                <modelfield field="@nameof(@Model.Employee.OutOfOfficeBalance)" value="@Model.Employee.OutOfOfficeBalance" editable="false"></modelfield>
                <modelfield field="@nameof(Model.Employee.Status)" value="@Model.Employee.Status" editable="false"></modelfield>
            </div>
        </div>
    </div>
}
else
{
    <h1 class="display-4 text-center">Welcome</h1>
    <div class="d-flex align-items-center justify-content-center">
        <form method="post" class="w-25">
            <h1 class="h3 mb-3  fw-normal">Please enter employee ID</h1>

            <div class="form-floating">
                <input asp-for=@Model.EmployeeId type="text" autocomplete="off" class="form-control" placeholder="000" autofocus>
                <label asp-for=@Model.EmployeeId>ID</label>
                <span asp-validation-for="@Model.EmployeeId" class="text-danger"></span>
            </div>

            <button class="my-3 btn btn-primary w-100 py-2" type="submit">Sign in</button>
        </form>   
    </div>
}
