@page "/LeaveRequests"
@using OutOfOfficeWebApp.Models
@model OutOfOfficeWebApp.Lists.LeaveRequests.IndexModel
@{
    ViewData["Title"] = "LeaveRequests";
}

@section scripts {
    <script src="~/js/sort.js"></script>
}
<h3>Leave Requests Page</h3>

<form asp-page="/Leave Requests/index" asp-page-handler="Filter" method="get">
    <div class="input-group w-25">
        <input type="hidden" name="handler" value="Filter" />
        <input type="search" class="form-control rounded" name="id" value="@Model.SearchValue" placeholder="Search by Id" aria-label="Search" aria-describedby="search-addon" />
        <button type="submit" class="btn btn-outline-primary" data-mdb-ripple-init>search</button>
    </div>
    <div class="input-group py-3">
        <div class="d-flex justify-content-between gap-3">
            <modelselect model="" field="AbsenceReasonFilter" values="Model.AbsenceReasonSelectors"></modelselect>
            <modelselect model="" field="StatusFilter" values="Model.StatusSelectors"></modelselect>
            <div class="py-4">
                <button type="submit" id="FilterBtn" name="FilterBtn" class="btn btn-outline-primary" data-mdb-ripple-init>Filter</button>
            </div>
        </div>
    </div>
</form>
@if (Model.LeaveRequests == null || Model.LeaveRequests.Count() == 0)
{
    <h3>Nothing Here</h3>
}
else
{
    <div class="container mt-5">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr class="bg-black text-white">
                    <th>ID ⇑</th>
                    <th>Employee</th>
                    <th>Reason</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (LeaveRequest e in Model.LeaveRequests)
                {
                    <tr>
                        <td><a asp-page="/Leave Requests/Details" asp-route-id="@e.ID">@e.ID</a></td>
                        <td><a asp-page="/Leave Requests/Details" asp-route-id="@e.ID">@e.Employee.FullName</a></td>
                        <td><a asp-page="/Leave Requests/Details" asp-route-id="@e.ID">@e.AbsenceReason.Name.SplitCamelCase()</a></td>
                        <td><a asp-page="/Leave Requests/Details" asp-route-id="@e.ID">@e.StartDate.ToString("yyyy.MM.dd")</a></td>
                        <td><a asp-page="/Leave Requests/Details" asp-route-id="@e.ID">@e.EndDate.ToString("yyyy.MM.dd")</a></td>
                        <td><a asp-page="/Leave Requests/Details" asp-route-id="@e.ID">@e.Status</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
@if (User.IsInRole("Employee") || User.IsInRole("Administrator"))
{
    <div class="form-group py-3">
        <a asp-page="/Leave Requests/Add" class="btn btn-primary w-100">New Leave Request</a>
    </div>
}