@page "/Employees/Details/{id}"
@using OutOfOfficeWebApp.Models
@model OutOfOfficeWebApp.Lists.Employees.DetailsModel
@{
    ViewData["Title"] = "Employees";
}

<h3>Employee Details</h3>

@if (Model.Employee == null)
{
    <h3>Nothing Here</h3>
}
else 
{
    <div class="container mt-5 w-25">
        <div class="row justify-content-center">
            <div class="col form-container">
                <modelinput model="Employee" field="@nameof(@Model.Employee.ID)" value="@Model.Employee.ID" editable="false"></modelinput>
                <modelinput model="Employee" field="@nameof(@Model.Employee.FullName)" value="@Model.Employee.FullName" editable="false"></modelinput>
                <modelinput model="Employee" field="@nameof(@Model.Employee.Subdivision)" value="@Model.Employee.Subdivision.ToString().SplitCamelCase()" editable="false"></modelinput>
                <modelinput model="Employee" field="@nameof(@Model.Employee.Position)" value="@Model.Employee.Position.ToString().SplitCamelCase()" editable="false"></modelinput>
                <modelinput model="Employee" field="@nameof(@Model.Employee.Status)" value="@Model.Employee.Status" editable="false"></modelinput>
                <modelinput model="Employee" field="@nameof(@Model.Employee.PeoplePartner)" value="@Model.Employee.PeoplePartner.FullName" editable="false"></modelinput>
                <modelinput model="Employee" field="@nameof(@Model.Employee.OutOfOfficeBalance)" value="@Model.Employee.OutOfOfficeBalance" editable="false"></modelinput>
                <!--Admin only-->
                <modelinput model="Employee" field="@nameof(@Model.Employee.Role)" value="@Model.Employee.Role" editable="false"></modelinput>
            </div>
            
            <div class="form-group py-3">
                <a asp-page="/Employees/Edit" asp-route-id="@Model.Employee.ID" class="btn btn-primary w-100">Edit</a>
            </div>
        </div>
    </div>
}




