@page "/Projects/Details/{id}"
@using OutOfOfficeWebApp.Models
@model OutOfOfficeWebApp.Lists.Projects.DetailsModel
@{
    ViewData["Title"] = "Projects";
}

<h3>Projects Page</h3>

@if (Model.Project == null)
{
    <h3>Nothing Here</h3>
}
else 
{
    <div class="container mt-5 w-25">
        <div class="row justify-content-center">
            <div class="col form-container">
                <modelinput model="Project" field="@nameof(@Model.Project.ID)" value="@Model.Project.ID" editable="false"></modelinput>
                <modelinput model="Project" field="@nameof(@Model.Project.ProjectManager)" value="@Model.Project.ProjectManager.FullName" editable="false"></modelinput>
                <modelinput model="Project" field="@nameof(@Model.Project.ProjectType)" value="@Model.Project.ProjectType" editable="false"></modelinput>
                <modelinput model="Project" field="@nameof(@Model.Project.StartDate)" value="@Model.Project.StartDate.ToString("yyyy.MM.dd")" editable="false"></modelinput>
                <modelinput model="Project" field="@nameof(@Model.Project.EndDate)" value="@Model.Project.EndDate?.ToString("yyyy.MM.dd")" editable="false"></modelinput>
                <modelinput model="Project" field="@nameof(@Model.Project.Status)" value="@Model.Project.Status" editable="false"></modelinput>
                <modelinput model="Project" field="@nameof(@Model.Project.Comment)" value="@Model.Project.Comment" editable="false"></modelinput>
            </div>
            
            <div class="form-group py-3">
                <a asp-page="/Projects/Edit" asp-route-id="@Model.Project.ID" class="btn btn-primary w-100">Edit</a>
            </div>
        </div>
    </div>
}




