@page "/Projects"
@using OutOfOfficeWebApp.Models
@model OutOfOfficeWebApp.Lists.Projects.IndexModel
@{
    ViewData["Title"] = "Projects";
}


@section scripts {
    <script src="~/js/sort.js"></script>
}
<h3>Projects Page</h3>

<form asp-page="/Projects/index" asp-page-handler="Filter" method="get">
    <div class="input-group w-25">
        <input type="hidden" name="handler" value="Filter" />
        <input type="search" class="form-control rounded" name="id" value="@Model.SearchValue" placeholder="Search by Id" aria-label="Search" aria-describedby="search-addon" />
        <button type="submit" class="btn btn-outline-primary" data-mdb-ripple-init>search</button>
    </div>
    <div class="input-group py-3">
        <div class="d-flex justify-content-between gap-3">
            <modelselect model="" field="StatusFilter" values="Model.StatusSelectors"></modelselect>
            <modelselect model="" field="TypeFilter" values="Model.ProjectTypeSelectors"></modelselect>
            <div class="py-4">
                <button type="submit" id="FilterBtn" name="FilterBtn" class="btn btn-outline-primary" data-mdb-ripple-init>Filter</button>
            </div>
        </div>
    </div>
</form>
@if (Model.Projects == null || Model.Projects.Count() == 0)
{
    <h3>Nothing Here</h3>
}
else 
{
    <div class="container mt-5">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr class="bg-black text-white">
                    <th>ID ⇑</th>
                    <th>Type</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Project p in Model.Projects)
                {
                    <tr>
                        <td><a asp-page="/Projects/Details" asp-route-id="@p.ID">@p.ID</a></td>
                        <td><a asp-page="/Projects/Details" asp-route-id="@p.ID">@p.ProjectType</a></td>
                        <td><a asp-page="/Projects/Details" asp-route-id="@p.ID">@p.Status</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
@if (User.IsInRole("ProjectManager") || User.IsInRole("Administrator"))
{
    <div class="form-group py-3">
        <a asp-page="/Projects/Add" class="btn btn-primary w-100">New Project</a>
    </div>
}






